@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');


*
{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
button
{
    cursor: pointer;
}

img
{
    object-fit: cover;
}
header
{
    padding: 2rem;
    box-shadow: 0 2px 10px #aabce7;
    position: sticky;
    top: 0;
    left: 0;
    background-color: rgb(236, 236, 236);
}

header nav
{
    display: flex;
    justify-content: space-between;
    align-items: center;

}


.cabecalho, .cabecalho a
{
    color: #022272;
    display: flex;
    justify-content: space-between;
    margin-left: 27px;
    align-items: center;
    text-decoration: none;
    list-style: none;
    font-weight: bold;
    font-size: large;
    transition: background-color 0.3s ease;
}

.cabecalho:hover, .cabecalho a:hover
{
    color: #3466e4;
    transition-delay: 50ms;
    transition: color 0.2s ease;
}


footer
{
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
    background-color: #022272;
    color: white;
    padding: 4rem 6rem;
    box-shadow: 0 -5px 5px #aabce7;
    position: relative;
    bottom: 0;
    transition: background-color 0.3s ease;
}

footer a:hover, footer a i:hover
{
    color: gray;
    transition-delay: 50ms;
    transition: color 0.3s ease;
}


footer .icon-footer 
{
    color: white;
    display: flex;
    align-items: baseline;
    padding-bottom: 16px;
    text-decoration: none;
}

footer .redes
{
    text-decoration: none;
    display: flex;
    width: 70%;
    justify-content: flex-end;
    
}

footer .redes a
{
    margin-left: 16px;
    color: white;
}

#hero
{
    display: flex;
    padding: 4rem 0;
}


#appealing-content
{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 2rem;
}

#appealing-content > h1
{
    font-weight: 500;
    margin-top: 2rem;
}

#appealing-content > img
{
    width: 100%;
    border-radius: 50px;
    margin-bottom: 1rem;
}

#explainer
{
    display: flex;
    flex-direction: column;
    padding: 0 2rem;
}

#explainer > h1, #explainer > h2
{
    margin-bottom: 2rem;
    font-weight: 500;
    font-size: 1.65rem;
}

#explainer > h1 > span, #explainer > h2 > span, #appealing-content > h2 > span
{
    color: #022272;
    font-weight: bold;
}

#cta
{
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 50px;
    background-color: #3466e4;
    padding: 2rem 0;
    color: white;
    font-weight: bold;
    font-size:x-large;
    text-shadow: 3px 3px 8px black;
    transition: background-color 0.3s ease;
    
}

#cta:hover
{
    transition-delay: 50ms;
    background-color:#01174e ;
    transition: background-color 0.3s ease;
}

#preabout > h1
{
    padding: 1rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #01174e;
    font-size: xx-large;
}
#about
{
    display: flex;
    padding: 4rem;
}

#about > img
{
    width: 45%;
    border-radius: 70px;
    border: 3px solid #102b70;
    margin-right: 4rem;
}

#about > h2
{
    padding-left: 4rem;
    font-weight: 500;
    line-height: 1.8;
    text-align: justify;
    border-left: 3px solid rgb(53, 53, 53);
    border-radius: 3px;
}

#about > h2 > span
{
    color: #022272;
    font-weight: bold;
    border-bottom: 2.5px solid #3466e4;
}

#depositions
{
    padding: 4rem;
    padding-bottom: 0rem;
    font-weight: normal;
}

#depositions > #title-depo
{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 3rem;
    color:#022272;
    font-size: xx-large;
}

#depositions > #content > #text-depo
{
    height: 40%;
    width: 40%;
}

#depositions > #content > #box-depo
{
    height: 50%;
    width: 60%;
}

#text-depo > #text1, #text-depo > #text2,  #text3 > h2
{
    font-weight: 500;
    text-align: justify;
    line-height: 1.4;
    margin-bottom: 5rem;
}

#text3
{
    margin-bottom: 10px;
}
#text3 > h2
{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 1.5rem;
    margin-bottom: 3rem;
}
#text-depo span, #text3 > h2 > span
{
    color:#022272;
    font-weight: bold;
    padding-left: 4px;
}

#content
{
    display: flex;
    justify-content: space-between;
}

#content img
{
    width: 35%;
    height: 10%;
    display: flex;
    justify-content: center;
    border-radius: 100%;
}

#box-depo > #horizontal
{
    display: flex;
    justify-content: space-between;
}
#cliente1, #cliente2
{
    width: 50%;
    height: 50%;
    margin: 1rem 1.5rem;
    padding: 1.5rem;
    margin-top: 0;
    background-color: #102b70 ;
    color: white;
    border-radius: 35px;
    flex-wrap: wrap;
    align-content: center;
}

#box-depo i
{
    color: goldenrod;
    font-size: xx-large;
}

#box-depo h2
{
    display: flex;
    justify-content: center;
    padding-bottom: 1rem;
    color: goldenrod
}

.img
{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 2rem;
}

#account
{
    display: flex;
    padding: 0rem 0rem;
    height: 100%;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    background-image: url('https://i.pinimg.com/originals/ac/49/0f/ac490ff2bead49df748189f37c422d9f.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#account > #title
{
    width: 55%;
    height: 55%;
    padding-left: 9rem;
}
#account > #title
{
    padding: 1rem;
    font-size: xx-large;
    color:black;
    font-weight: bold;
    background-color: #4778f5;
    width: 30%;
    height: 30%;
    border-radius: 15px;
    margin-left: 3rem;
}

#title h1
{
    font-size: xx-large;
}

#title h2
{
    font-size: x-large;
}


#account > #account-box
{
    background-color: #4778f5;
    padding: 2rem;
    margin-right: 5rem;
    border-radius: 20px;
    width: 35%;
    height: 109dvh;
    margin-top: 20px;
}

#account-box h1
{
    font-size: 1.85rem;
    padding-bottom: 0.5rem ;
}

#account-box h2
{
    font-size: 1.35rem;
    padding: 1rem 0;
}
#account > #account-box > form
{
    display: flex;
    flex-direction: column;
    padding-bottom: 0.5rem 0;
}

#account-box > form > label
{
    font-size: large;
    padding-top: 0.5rem;
    padding-bottom: 4px;
}

#account-box > form > input
{
    height: 2.40rem;
    border: 0.15px solid black;
    border: none;
    border-radius: 5px;
    transition: border-bottom 97ms ease-in-out;
}

#account-box > form > input:focus
{
    outline: none;
    border-bottom: 3px solid #102b70;
}

#button
{
    display: flex;
    flex-direction: column;
    margin: 2rem 0;
}

#button > button
{
    margin: 5px 0;
    border-radius: 50px;
    border: none;
    background-color: white;
    height: 3rem;
    font-size: 1.10rem;
    font-weight: bold;
    color:#022272
}

#button-create > button
{
    height: 3.5rem;
    width: 100%;
    background-color: #01174e;
    color: white;
    border-radius: 50px;
    font-weight: bold;
    font-size: x-large;
    border: none;
    outline: none;

}

#account-box #remember 
{
    margin-top: 1rem;
}

#remember a
{
    color:#000e30;
    font-weight: bold;

}

